*~*
*.swp
*.pyc
*.re
/rules_uu.py
/rules-uu.re.debug
/rules_uu.cfg

# Local/Editor files
.DS_Store
.DS_STORE
Thumbs.db
.idea/
.pytest_cache/

#pytest folders
step_defs.*
tests.step_defs.*
geckodriver.log

# Github defaults for Python
# https://github.com/github/gitignore/blob/master/Python.gitignore
__pycache__/
*.py[cod]

# Pyenv local config
.python-version
