# crontab to run the job move to vault every few minutes
# this crontab assumes:
# - linux user has this crontab installed
# - iinit has been run using an irodsadmin type user credentials
# 
#
# crontab format assumed:
# min hour day month weekday cmd
#
0,5,10,15,20,25,30,35,40,45,50,55	*	*	*	*	/bin/irule -F $HOME/.irods/job_movetovault.r >>$HOME/iRODS/server/log/job_movetovault.log 2> /dev/null
