setuptools==75.6.0
MarkupSafe==3.0.2
Jinja2==3.1.6
requests==2.32.3
configparser==4.0.2
contextlib2==0.6.0.post1
importlib-metadata==8.6.1
jsonschema==4.23.0
pathvalidate==0.29.1
requests_cache==0.5.2
irods-avu-json==2.2.0
python-dateutil==2.9.0.post0
python-magic==0.4.27
deepdiff==8.0.1
persist-queue==0.8.1
redis==3.5.3
psutil==6.1.1
iteration_utilities==0.13.0
sqlcipher3-binary==0.5.4
