<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Data Publication platform of Utrecht University">
    <meta name="DC.identifier" content="{{ persistent_identifier_datapackage.Identifier_Scheme }}:{{ persistent_identifier_datapackage.Identifier }}" scheme="DCTERMS.URI">
    <meta name="DC.title" content="{{ title }}">

    {% for creator in creators %}
        <meta name="DC.creator" content="{{ creator.Name.Family_Name }}, {{ creator.Name.Given_Name }}">
    {% endfor %}

    <meta name="DC.publisher" content="Utrecht University">
    <meta name="DC.date" content="{{ publication_date }}" scheme="DCTERMS.W3CDTF">
    <meta name="DC.type" content="{{ datatype }}">

    {% if no_active_embargo and data_access_restriction.startswith('Open') and not is_deaccession_complete %}
        <link rel="item" href="{{ open_access_link }}">
    {% endif %}

    <title>{{ title }} - Data Publication Platform of Utrecht University</title>

    <link href="/static/css/bootstrap.min.css?v=1752566642" rel="stylesheet">
    <link href="/static/css/landingpage.css?v=1752566642" rel="stylesheet">
    <link href="/static/css/leaflet-1.5.1.css" rel="stylesheet" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==">

    <script src="/static/js/leaflet-1.5.1.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="></script>
    <script>
        let bounds = [
            [1.0, 1.0],
            [1.0, 1.0]
        ]; // initialization of coordinate pairs with arbitrary values. These will be overwritten
    </script>

    {% if no_active_embargo and data_access_restriction.startswith('Open') and not is_deaccession_complete %}
        <script src="/static/js/download.js" type="module"></script>
    {% endif %}

    {% if matomo_tracking_enabled %}
    <!-- Matomo tracker -->
    <script>
      var _paq = window._paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//{{ matomo_server_fqdn }}/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '{{ matomo_site_id }}']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Matomo Code -->
    {% endif %}

    {% if matomo_counter_enabled %}
    <!-- Matomo visit counter -->
    <script>
        async function updateVisitCounter() {
          const pageUrl = encodeURIComponent(window.location.href);
          const matomoServer = "https://{{ matomo_server_fqdn }}";
          const siteId = "{{ matomo_site_id }}";
          const requestUrl = `${matomoServer}/index.php?module=API&method=PageViewCounter.getVisits&format=JSON&siteId=${siteId}&url=${pageUrl}`;

          try {
            const response = await fetch(requestUrl, { mode: 'cors' } );

            if (!response.ok) {
              throw new Error(`Cannot fetch visit counter data: ${response.status} for ${requestUrl}`);
            }

            const text = await response.text();

            let data;
            try {
              data = JSON.parse(text);
            } catch {
              console.error("Visit count data is not valid JSON:", text);
              return;
            }

            if (!Object.hasOwn(data, "nb_visits")) {
              console.error('No "nb_visits" key found in visit counter response:', data);
              return;
            }

            const el = document.getElementById("visitcounter");
            if (!el) {
              console.error('Element with id "visitcounter" not found.');
              return;
            }

            el.textContent = data.nb_visits;

          } catch (error) {
            console.error("Failed to fetch visit counter data:", error);
          }
        }
        document.addEventListener("DOMContentLoaded", updateVisitCounter);
    </script>
<!-- End Matomo visit counter -->
    {% endif %}


</head>

<body vocab="http://purl.org/dc/terms/">
    <div class="container bg-white no-padding">
        <header>
            <div class="logo pt-2">
                <img src="/static/img/logo.svg" alt="Utrecht University Logo">
            </div>
            <div class="header-title">
                <h1 property="dc:title">Data Publication Platform of Utrecht University</h1>
            </div>
        </header>

        <main>
            {% if is_deaccession_complete %}
            <div class="alert alert-warning mb-0 content">
                 This data package is deaccessioned. This means that the contents are no longer available.
            </div>
            {% endif %}
            {% if not no_active_embargo and data_access_restriction.startswith('Open') %}
            <div class="alert alert-warning mb-0 content">
                This data package is embargoed until {{embargo_end_date}}.
            </div>
            {% endif %}
            <div>
                <div class="row content">
                    <div class="col-lg-8">
                        <div class="creators">
                            {% for creator in creators %}
                                {{ creator.Name.Family_Name }}, {{ creator.Name.Given_Name }} {{ "&" if not loop.last }}
                            {% endfor %}
                        </div>
                        <section>
                            <h2 property="dc:title">{{ title }}</h2>
                            <div class="meta">
                                <label>Publication Date:</label>
                                <span class="date" property="dc:created">{{ publication_date }}</span>
                                <label>Accessibility:</label>
                                <span property="dc:accessRights">{{ data_access_restriction }}</span>
                            </div>
                            <p class="description" property="dc:description">{{ description }}</p>
                            <div class="keywords">
                                <label>Keywords</label>
                                {% for keyword in keywords %}
                                    <span class="keyword" property="dc:subject">
                                        {% if "valueUri" in keyword %}
                                            <a href="{{ keyword.valueUri }}">{{ keyword.subject }}</a>
                                        {% else %}
                                            {{ keyword.subject }}
                                        {% endif %}
                                    </span>
                                {% endfor %}
                            </div>
                        </section>
                    </div>

                    {% if base_doi %}
                        <div class="col-lg-4 mt-4">
                            <div class="p-3 version">
                                <h4>Versions</h4>
                                <div>
                                    <table class="table table-sm">
                                        <tbody>
                                            {% for version in versions %}
                                                <tr>
                                                    <td>
                                                        <a href="https://doi.org/{{ version[1] }}">https://doi.org/{{ version[1] }}</a>
                                                    </td>
                                                    <td>
                                                        <small title="{{ version[2] }}">{{ version[0] }}</small>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <small>
                                        <b>Base DOI:</b>
                                        <a href="https://doi.org/{{ base_doi }}">https://doi.org/{{ base_doi }}</a><br>
                                        This DOI represents all versions of this publication and will resolve to the latest publication.
                                    </small>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>

                <hr>

                {% if no_active_embargo and data_access_restriction.startswith('Open') and not is_deaccession_complete %}
                    <a class="btn btn-primary access-btn view-contents" target="_blank" id="viewContents" data-random-id="{{ random_id }}" href="{{ open_access_link }}">
                        View contents
                    </a>
                    <a class="btn btn-primary ml-2 invisible" id="downloadZip" href="#">
                        Download as zip
                    </a>
                {% endif %}
            </div>

            <section class="metadata">
                <h2>Metadata</h2>
                <div class="list">
                    <div class="group">
                        <div class="row">
                            <div class="col-sm-3">
                                <label>Disciplines</label>
                            </div>
                            <div class="col-sm-9">
                                <span>
                                    {% for discipline in disciplines %}
                                        {{ discipline }}{{ ", " if not loop.last }}
                                    {% endfor %}
                                </span>
                            </div>
                        </div>

                        {% if labs %}
                        <div class="row">
                            <div class="col-sm-3">
                                <label>Originating laboratories</label>
                            </div>
                            <div class="col-sm-9">
                                <span>
                                    {% for lab in labs %}
                                        {{ lab }}{{ ", " if not loop.last }}
                                    {% endfor %}
                                </span>
                            </div>
                        </div>
                        {% endif %}

                        {% if additional_labs %}
                        <div class="row">
                            <div class="col-sm-3">
                                <label>Additional laboratories</label>
                            </div>
                            <div class="col-sm-9">
                                <span>
                                    {% for lab in additional_labs %}
                                        {{ lab }}{{ ", " if not loop.last }}
                                    {% endfor %}
                                </span>
                            </div>
                        </div>
                        {% endif %}

                        <div class="row">
                            <div class="col-sm-3">
                                <label>Version</label>
                            </div>
                            <div class="col-sm-9">
                                <span property="dc:hasVersion">{{ version }}</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                <label>Language</label>
                            </div>
                            <div class="col-sm-9">
                                <span property="dc:language">{{ language }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="group">
                        <div class="row">
                            <div class="col-sm-3">
                                <label>Data classification</label>
                            </div>
                            <div class="col-sm-9">
                                <span>{{ data_classification }}</span>
                            </div>
                        </div>
                    </div>

                    {% for loc in covered_geolocation_place if not ((covered_geolocation_place|length == 1) and (loc == "" or loc == None)) %}
                        {% if loop.first %}
                        <div class="group">
                        {% endif %}

                        <div class="row">
                            <div class="col-sm-3">
                                <label>Geolocation</label>
                            </div>
                            <div class="col-sm-9">
                                <span property="dc:coverage">{{ loc }}</span>
                            </div>
                        </div>

                        {% if loop.last %}
                        </div>
                        {% endif %}
                    {% endfor %}

                    {% for loc in geolocations %}
                        {% if loop.first %}
                        <div class="group">
                        {% endif %}

                        <div class="row">
                            <div class="col-sm-3">
                                <label>Geolocation</label>
                            </div>
                            <div class="col-sm-9">
                                {% if loc.geoLocationBox and loc.geoLocationBox | length >= 4 %}
                                <span>
                                    <div class='map' id='map{{ loop.index }}'></div>
                                    <script>
                                        lon0 = {{ loc.geoLocationBox.westBoundLongitude }};
                                        lat0  = {{ loc.geoLocationBox.southBoundLatitude }};
                                        lon1 = {{ loc.geoLocationBox.eastBoundLongitude }};
                                        lat1  = {{ loc.geoLocationBox.northBoundLatitude }};

                                        bounds = [[lat0, lon0], [lat1, lon1]];

                                        var mymap = L.map('map{{ loop.index }}').fitBounds(bounds, {'maxZoom': 5});

                                        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                                            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap contributors</a>',
                                            maxZoom: 18
                                        }).addTo(mymap);

                                        if (lat0 == lat1 && lon0 == lon1) {
                                            var marker = L.marker([lat0, lon0]).addTo(mymap);
                                        } else {
                                            var rectangle = L.rectangle([[lat0, lon0], [lat1, lon1]]).addTo(mymap);
                                        }
                                    </script>
                                </span>
                                {% endif %}
                                <span>
                                    {% if loc.Description_Temporal %}
                                        {{ loc.Description_Temporal.Start_Date }} - {{ loc.Description_Temporal.End_Date }} |
                                    {% endif %}
                                    {% if loc.Description_Spatial %}
                                        {{ loc.Description_Spatial }}
                                    {% endif %}
                                </span>
                            </div>
                        </div>

                        {% if loop.last %}
                        </div>
                        {% endif %}
                    {% endfor %}

                    {% for funder in funding_reference %}
                        {% if funder.Funder_Name %}
                        {% if loop.first %}
                        <div class="group">
                        {% endif %}

                        {% if funder.Funder_Reference %}
                        <div class="row">
                            <div class="col-sm-3">
                                <label>Funder reference</label>
                            </div>
                            <div class="col-sm-9">
                                <span>{{ funder.Funder_Reference }}</span>
                            </div>
                        </div>
                        {% endif %}

                        <div class="row">
                            <div class="col-sm-3">
                                <label>Funder</label>
                            </div>
                            <div class="col-sm-9">
                                <span>{{ funder.Funder_Name }}</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                <label>Award/grant Number</label>
                            </div>
                            <div class="col-sm-9">
                                <span>{{ funder.Award_Number }}</span>
                            </div>
                        </div>

                        {% if funder.Award_Name %}
                        <div class="row">
                            <div class="col-sm-3">
                                <label>Award/grant name</label>
                            </div>
                            <div class="col-sm-9">
                                <span>{{ funder.Award_Name }}</span>
                            </div>
                        </div>
                        {% endif %}

                        {% if loop.last %}
                        </div>
                        {% endif %}
                        {% endif %}
                    {% endfor %}

                    <div class="group">
                        <div class="row">
                            <div class="col-sm-3">
                                <label>Persistent Identifier</label>
                            </div>
                            <div class="col-sm-9">
                                <span>
                                <a href="{{ persistent_identifier_to_uri(persistent_identifier_datapackage.Identifier_Scheme, persistent_identifier_datapackage.Identifier) }}" target="_blank">
                                  {{ persistent_identifier_to_uri(persistent_identifier_datapackage.Identifier_Scheme, persistent_identifier_datapackage.Identifier) }}
                                </a>
                                </span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                <label>Publication Date</label>
                            </div>
                            <div class="col-sm-9">
                                <span property="dc:date">{{ publication_date }}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label>Last Modification</label>
                            </div>
                            <div class="col-sm-9">
                                <span property="dc:modified">{{ last_modified_date }}</span>
                            </div>
                        </div>
                        {% if embargo_end_date %}
                        <div class="row">
                            <div class="col-sm-3">
                                <label>Embargo End Date</label>
                            </div>
                            <div class="col-sm-9">
                                <span property="dc:available">{{ embargo_end_date }}</span>
                            </div>
                        </div>
                        {% endif %}
                    </div>

                    {% for pack in related_resources %}
                    {% if pack.Relation_Type %}
                    {% if loop.first %}
                    <div class="group">
                        {% endif %}

                        <div class="row">
                            <div class="col-sm-3">
                                <label>Related resource</label>
                            </div>
                            <div class="col-sm-9">
                                <span property="dc:references" content="{{ pack.Title }}">{{ pack.Title }}</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                <label class="indented">Type of relation</label>
                            </div>
                            <div class="col-sm-9">
                                <span>{{ pack.Relation_Type }}</span>
                            </div>
                        </div>

                        {% if pack.Persistent_Identifier is defined and
			      pack.Persistent_Identifier.Identifier_Scheme is defined and
			      pack.Persistent_Identifier.Identifier is defined %}
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="indented">Persistent Identifier</label>
                            </div>
                            <div class="col-sm-9">
                                <span>
                                <a href="{{ persistent_identifier_to_uri(pack.Persistent_Identifier.Identifier_Scheme, pack.Persistent_Identifier.Identifier) }}" target="_blank">
                                  {{ persistent_identifier_to_uri(pack.Persistent_Identifier.Identifier_Scheme, pack.Persistent_Identifier.Identifier) }}
                                </a>
                                </span>
                            </div>
                        </div>
                        {% endif %}

                        {% if loop.last %}
                    </div>
                    {% endif %}
                    {% endif %}
                    {% endfor %}

                    <div class="group">
                        {% for creator in creators %}
                        {% if 'Name' in creator %}
                        <div class="row">
                            <div class="col-sm-3">
                                <label>Creator</label>
                            </div>
                            <div class="col-sm-9">
                                <span property="creator">{{ creator.Name.Family_Name }}, {{ creator.Name.Given_Name }}</span>
                            </div>
                        </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="indented">Person Identifier</label>
                            </div>
                            <div class="col-sm-9">
                                <span property="dc:identifier">
                                            {% for id in creator.Person_Identifier %}
                                                {{ id.Name_Identifier_Scheme }}:
                                                {% if id.Name_Identifier_Scheme not in ('DAI', 'Author identifier (Scopus)') %}
                                                    <a href="{{ id.Name_Identifier }}" target="_blank"> {{ id.Name_Identifier }} </a>
                                                {% else %}
                                                    {{ id.Name_Identifier }}
                                                {% endif %}
                                                {{ ", " if not loop.last }}
                                            {% endfor %}
                                </span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                <label class="indented">Affiliation</label>
                            </div>
                            <div class="col-sm-9">
                                <span>
                                    {% if creator.Affiliation is string %}
                                        {{ creator.Affiliation }}
                                    {% else %}
                                        {% for affiliation in creator.Affiliation %}
                                            {% if affiliation is mapping %}
                                                {% if affiliation.Affiliation_Identifier | length > 0 %}
                                                    <a href="{{ affiliation.Affiliation_Identifier }}">{{ affiliation.Affiliation_Name }}</a>
                                                {% else %}
                                                    {{ affiliation.Affiliation_Name }}
                                                {% endif %}
                                            {% else %}
                                                {{ affiliation }}
                                            {% endif %}
                                            {{ ", " if not loop.last }}
                                        {% endfor %}
                                    {% endif %}
                                </span>
                            </div>
                        </div>
                        {% endfor %}

                        {% for contributor in contributors %}
                        {% if 'Name' in contributor %}
                        <div class="row">
                            <div class="col-sm-3">
                                <label>Contributor</label>
                            </div>
                            <div class="col-sm-9">
                                <span property="contributor">{{ contributor.Name.Family_Name }}, {{ contributor.Name.Given_Name }}</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                <label class="indented">Person Identifier</label>
                            </div>
                            <div class="col-sm-9">
                                <span property="dc:identifier">
                                            {% for id in contributor.Person_Identifier %}
                                                {{ id.Name_Identifier_Scheme }}:
                                                {% if id.Name_Identifier_Scheme not in ('DAI', 'Author identifier (Scopus)') %}
                                                    <a href="{{ id.Name_Identifier }}" target="_blank"> {{ id.Name_Identifier }} </a>
                                                {% else %}
                                                    {{ id.Name_Identifier }}
                                                {% endif %}
                                                {{ ", " if not loop.last }}
                                            {% endfor %}
                                </span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                <label class="indented">Affiliation</label>
                            </div>
                            <div class="col-sm-9">
                                <span>
                                    {% if contributor.Affiliation is string %}
                                        {{ contributor.Affiliation }}
                                    {% else %}
                                        {% for affiliation in contributor.Affiliation %}
                                            {% if affiliation is mapping %}
                                                {% if affiliation.Affiliation_Identifier | length > 0 %}
                                                    <a href="{{ affiliation.Affiliation_Identifier }}">{{ affiliation.Affiliation_Name }}</a>
                                                {% else %}
                                                    {{ affiliation.Affiliation_Name }}
                                                {% endif %}
                                            {% else %}
                                                {{ affiliation }}
                                            {% endif %}
                                            {{ ", " if not loop.last }}
                                        {% endfor %}
                                    {% endif %}
                                </span>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}

                        {% for contact in contacts %}
                        {% if 'Name' in contact %}
                        <div class="row">
                            <div class="col-sm-3">
                                <label>Name</label>
                            </div>
                            <div class="col-sm-9">
                                <span>{{ contact.Name.Family_Name }}, {{ contact.Name.Given_Name }}</span>
                            </div>
                        </div>

                        {% if contact.Position %}
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="indented">Position</label>
                            </div>
                            <div class="col-sm-9">
                                <span>{{ contact.Position }}</span>
                            </div>
                        </div>
                        {% endif %}
                        {% if contact.Email %}
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="indented">E-mail</label>
                            </div>
                            <div class="col-sm-9">
                                <span>{{ contact.Email }}</span>
                            </div>
                        </div>
                        {% endif %}

                        <div class="row">
                            <div class="col-sm-3">
                                <label class="indented">Person Identifier</label>
                            </div>
                            <div class="col-sm-9">
                                <span property="dc:identifier">
                                            {% for id in contact.Person_Identifier %}
                                                <a href="{{ persistent_identifier_to_uri(id.Name_Identifier_Scheme, id.Name_Identifier) }}" target="_blank">
                                                {{ persistent_identifier_to_uri(id.Name_Identifier_Scheme, id.Name_Identifier) }}
                                                </a>
                                                {{ ", " if not loop.last }}
                                            {% endfor %}
                                </span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                <label class="indented">Affiliation</label>
                            </div>
                            <div class="col-sm-9">
                                <span>
                                    {% if contact.Affiliation is string %}
                                        {{ contact.Affiliation }}
                                    {% else %}
                                        {% for affiliation in contact.Affiliation %}
                                            {% if affiliation is mapping %}
                                                {% if affiliation.Affiliation_Identifier | length > 0 %}
                                                    <a href="{{ affiliation.Affiliation_Identifier }}">{{ affiliation.Affiliation_Name }}</a>
                                                {% else %}
                                                    {{ affiliation.Affiliation_Name }}
                                                {% endif %}
                                            {% else %}
                                                {{ affiliation }}
                                            {% endif %}
                                            {{ ", " if not loop.last }}
                                        {% endfor %}
                                    {% endif %}
                                </span>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}

                        <div class="row">
                            <div class="col-sm-3">
                                <label>License</label>
                            </div>
                            <div class="col-sm-9">
                                <span property="dc:license">
                                    {% if license_uri|length>1 %}
                                        <a href="{{ license_uri }}" target="blank">{{ license }}</a>
                                    {% else %}
                                        {{ license }}
                                    {% endif %}
                                </span>
                            </div>
                        </div>
                        {% if collection_name|length>1 %}
                        <div class="row">
                            <div class="col-sm-3">
                                <label>Collection name</label>
                            </div>
                            <div class="col-sm-9">
                                <span property="dc:collection">{{ collection_name }}</span>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <br>
            </section>

	    {% if matomo_counter_enabled %}
            <section class="statistics">
                <h2>Statistics</h2>
                <div class="list">
                    <div class="group">
                        <div class="row">
                            <div class="col-sm-3">
                                <label>Number of page visits</label>
                            </div>
                            <div class="col-sm-9">
                                <span id="visitcounter"> ... </span>
                            </div>
                        </div>
		     </div>
		</div>
	    </section>
	    {% endif %}

            <section class="questions">
                <h2>Questions?</h2>
                <div class="col text-center">
                    <a href="https://www.uu.nl/en/research/research-data-management" class="btn btn-secondary support-btn" target="_blank">
                        Research Data Management Support
                    </a>
                </div>
            </section>

            </main>

            <footer>
                <div class="logo">
                    <img src="/static/img/logo_footer.svg" alt="Utrecht University Logo">
                </div>
            </footer>
        </div>
    </body>
</html>
