<html lang="en">
    <head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		<meta name="description" content="Data Publication platform of Utrecht University"/>
		<title>{{ persistent_identifier_datapackage }} - Data Publication platform of Utrecht University</title>

		<link href="/static/css/bootstrap.min.css?v=1559637767" rel="stylesheet"/>
		<link href="/static/css/uu.css?v=1559637767" rel="stylesheet"/>
    </head>
    <body>
		<div class="container bg-white no-padding">
			<header>
				<div class="logo pt-2">
					<img src="/static/img/logo.svg"/>
				</div>
				<div class="header-title">
					<h1>Data publication platform of Utrecht University</h1>
				</div>
			</header>
			<main>
				<section class="content">
					<br /><br />
					<p>This data package ({{ persistent_identifier_datapackage }}) has been made temporarily unavailable.</p>
					<br /><br />
				</section>
				<hr />
				<section class="questions">
					<h2>Questions?</h2>
					<div class="col text-center">
						<a href="https://www.uu.nl/en/research/research-data-management" class="btn btn-secondary support-btn" target="_blank">
							Research data management support
						</a>
					</div>
				</section>
			</main>
			<footer>
				<div class="logo">
					<img src="/static/img/logo_footer.svg"/>
				</div>
			</footer>
		</div>
    </body>
</html>

