<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content="Data Publication platform of Utrecht University"/>
        <title>{{ title }} - Data Publication platform of Utrecht University</title>

        <link href="/static/css/bootstrap.min.css?v=1559637767" rel="stylesheet"/>
        <link href="/static/css/uu.css?v=1559637767" rel="stylesheet"/>

        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
            integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
            crossorigin=""/>
   
        <!-- Make sure you put this AFTER Leaflet's CSS -->
        <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
            integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
            crossorigin=""></script>

        <style>
            .map { height: 180px; 
	           width: 240px;
	    }
        </style>
    </head>
    <body>
       <div class="container bg-white no-padding">
            <header>
                <div class="logo pt-2">
                    <img src="/static/img/logo.svg"/>
                </div>
                <div class="header-title">
                    <h1>Data publication platform of Utrecht University</h1>
                </div>
            </header>
            <main>
                <div class="creators">                 
                    <div class="row">
                        <div class="col-sm-2">
                            <label>Creator</label>
                        </div>
                        <div class="col-sm-10">
                            {% for creator in creators %} {{ creator.Name.First_Name }} {{ creator.Name.Last_Name }} &nbsp; {% endfor %}                             
                        </div>
                    </div>
                    
                </div>
                <section class="content">
                    <h2>{{ title }}</h2>
                    <div class="meta">
                        <label>Publication Date:</label>
                        <span class="date">{{ publication_date }}</span>
                        <label>Accessibility:</label>
                        <span>{{ data_access_restriction }}</span>
                    </div>
                    <p class="description">{{ description }}</p>
                    <div class="tags">
                        <label>Tags</label>
                        <span class="tag">
                            {% for tag in tags %} &nbsp;
                                {{ tag }}{{ ",&nbsp;" if not loop.last }}
                            {% endfor %}
                        </span>
                    </div>
                    <hr/>
                    {%if data_access_restriction.startswith('Open') %}    
                        <a class="btn btn-primary access-btn" target="_blank" href="{{ open_access_link }}">
                            Acces datapackage
                        </a>
                    {% endif %}
                                    
                </section>
                <section class="metadata">
                    <h2>Metadata</h2>
                    <div class="list">
                        <div class="group">
                            <div class="row">
                                <div class="col-sm-2">
                                    <label>Disciplines</label>
                                </div>
                                <div class="col-sm-10">
                                    <span>{% for discipline in disciplines %}
                                               {{ discipline }}{{ ",&nbsp;" if not loop.last }}
                                           {% endfor %}
                                    </span>
                                </div>
                            </div>                        
                            
                            <div class="row">
                                <div class="col-sm-2">
                                    <label>Version</label>
                                </div>
                                <div class="col-sm-10">
                                    <span>{{ version }}</span>
                                </div>
                            </div>                        
                            <div class="row">
                                <div class="col-sm-2">
                                    <label>Language</label>
                                </div>
                                <div class="col-sm-10">
                                    <span>{{ language }}</span>
                                </div>
                            </div>                        
                        </div>
           

                        <div class="group">
                            <div class="row">
                                <div class="col-sm-2">
                                    <label>Data classification</label>
                                </div>
                                <div class="col-sm-10">
                                    <span>{{ data_classification }}</span>
                                </div>
                            </div>

                            {% for loc in geolocations %}
                                <div class="group">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <label>Geolocation</label>
                                        </div>
                                        <div class="col-sm-10">
                                            <span>
                                                <div class='map' id='map{{ loop.index }}'>
                                                <script>
		
                lon0 = {{ loc.geoLocationBox.westBoundLongitude }};
                lat0  = {{ loc.geoLocationBox.southBoundLatitude }};
                lon1 = {{ loc.geoLocationBox.eastBoundLongitude }};
                lat1  = {{ loc.geoLocationBox.northBoundLatitude }};

                let bounds = [[lat0, lon0], [lat1, lon1]];

                var mymap = L.map('map{{ loop.index }}').fitBounds(bounds, {'padding': [150, 150], 'maxZoom': 3});

                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                        attribution: '&amp;copy <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
                        maxZoom: 18
                }).addTo(mymap);

                if (lat0==lat1 && lon0==lon1) {
	            var marker = L.marker([lat0, lon0]).addTo(mymap);
		}
		else {
                    var rectangle = L.rectangle([[lat0, lon0],[lat1, lon1]]).addTo(mymap);
		}

 
                                                </script> 
                                                </div>
                                                {{ loc.Description_Spatial }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
			    {% endfor %}	

                                                        
                            {% for funder in funding_reference %}
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label>Funder</label>
                                    </div>
                                    <div class="col-sm-10">
                                        <span>{{ funder.Funder_Name }}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label>Award Number</label>
                                    </div>
                                    <div class="col-sm-10">
                                        <span>{{ funder.Award_Number }}</span>
                                    </div>
                                </div>
                             {% endfor %}                  
                        </div>
                        <div class="group">
                            <div class="row">
                                <div class="col-sm-2">
                                    <label>Persistent Identifier</label>
                                </div>
                                <div class="col-sm-10">
                                    <span>
                                        {{ persistent_identifier_datapackage.Identifier_Scheme }}: {{ persistent_identifier_datapackage.Identifier }}
                                    </span>
                                </div>
                            </div>                            
                            
                            <div class="row">
                                <div class="col-sm-2">
                                    <label>Publication Date</label>
                                </div>
                                <div class="col-sm-10">
                                    <span>{{ publication_date }}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">
                                    <label>Last Modification</label>
                                </div>
                                <div class="col-sm-10">
                                    <span>{{ last_modified_date }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="group">
                            {% for pack in related_datapackages %}
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label>Related datapackage</label>
                                    </div>
                                    <div class="col-sm-10">
                                        <span>{{ pack.Title }}</span>
                                    </div>
                                </div>
                        
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label>Type of relation</label>
                                    </div>
                                    <div class="col-sm-10">
                                        <span>{{ pack.Relation_Type }}</span>
                                    </div>
                                </div>            
                                                                
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label>Persistent Identifier</label>
                                    </div>
                                    <div class="col-sm-10">
                                        <span>
                                            {{ pack.Persistent_Identifier.Identifier_Scheme }}: {{ pack.Persistent_Identifier.Identifier }}
                                        </span>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="group">
                            {% for creator in creators %}
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label>Name</label>
                                    </div>
                                    <div class="col-sm-10">
                                        {{ creator.Name.First_Name }} {{ creator.Name.Last_Name }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label>Person Identifier</label>
                                    </div>
                                    <div class="col-sm-10">
                                        <span>
                                            {% for id in creator.Person_Identifier %}
                                                {{ id.Name_Identifier_Scheme }}: {{ id.Name_Identifier  }}{{ ",&nbsp;" if not loop.last }}
                                            {% endfor %} 
                                        </span>
                                    </div>
                                </div>
                                                
                               <div class="row">
                                    <div class="col-sm-2">
                                        <label>Affiliation</label>
                                    </div>
                                    <div class="col-sm-10">
                                        {% for affiliation in creator.Affiliation %}
                                            {{ affiliation }}{{ ",&nbsp;" if not loop.last }}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %} 
                        
                            {% for contributor in contributors %}
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label>Name</label>
                                    </div>
                                    <div class="col-sm-10">
                                        <span>{{ contributor.Name.First_Name }} {{ contributor.Name.Last_Name }}</span>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label>Person Identifier</label>
                                    </div>
                                    <div class="col-sm-10">
                                        <span>
                                            {% for id in contributor.Person_Identifier %}
                                                {{ id.Name_Identifier_Scheme }}: {{ id.Name_Identifier  }}{{ ",&nbsp;" if not loop.last }}
                                            {% endfor %} 
                                        </span>
                                    </div>
                                </div>
                                                
                               <div class="row">
                                    <div class="col-sm-2">
                                        <label>Affiliation</label>
                                    </div>
                                    <div class="col-sm-10">
                                        {% for affiliation in contributor.Affiliation %}
                                            {{ affiliation }}{{ ",&nbsp;" if not loop.last }}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %} 
                            
                            <div class="row">
                                <div class="col-sm-2">
                                    <label>License</label>
                                </div>
                                <div class="col-sm-10">
                                    <span>
                                    {% if license_uri|length>1 %}
                                        <a href="{{ license_uri }}" target="blank">{{ license }}</a>
                                    {% else %} 
                                        {{ license }}
                                    {% endif %}        
                                    </span>
                                </div>
                            </div>
                            {% if collection_name|length>1 %}
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label>Collection name</label>
                                    </div>
                                    <div class="col-sm-10">
                                        <span>{{ collection_name }}</span>
                                    </div>
                                </div>
                            {% endif %}    
                        </div>
                    </div>
                </section>
                <section class="questions">
                    <h2>Questions?</h2>
                    <div class="col text-center">
                        <a href="https://www.uu.nl/en/research/research-data-management" class="btn btn-secondary support-btn" target="_blank">
                            Research data management support
                        </a>
                    </div>
                </section>
            </main>
            <footer>
                <div class="logo">
                    <img src="/static/img/logo_footer.svg"/>
                </div>
            </footer>
        </div>
    </body>
</html>   



